.goalPanel{
    border: solid 2px black;
    background-color:lightgray;
    padding:10px;

    /* max-height: 95vh; */
    height:100%;
    overflow-y: auto;
}

.goalPanel > h2 {
    text-align:center;
    color:darkturquoise;
}