*{
    font-family:'Open Sans', sans-serif;
}

.smartText > span {
    color:darkturquoise;
    font-weight:bold;
    font-size:20px;
}

.homePanelTitle{
    color:purple;
    text-align:center;
    font-family:'Gugi', cursive;
    margin-bottom:30px;
}

.homeMainPanel{
    padding-top:25px;
    padding-bottom:35px;
}
