.mainRow{
    display:flex;
    align-items:stretch;

}

.learningGoalCol{
    padding-right: 0px;
}
.learningGoalContainer{
    background-color:darkturquoise;
    padding:10px 15px 20px 15px;
    min-height:90vh;

}

.learningGoalInfo{
    background-color:#fff;
    padding:10px 15px 10px 20px;
    border:2px solid black;

}

.learningGoalInfo > h2 {
    text-align:center;
}

.learningGoalInfo > p{
    font-size:16px;
}
.learningGoalInfo > p> span {
    font-weight:bold;
}
.pastSessionsDiv, .upcomingSessionsDiv {
    background-color:white;
    padding: 10px 15px 15px 15px;
    margin-top:20px;
    border:2px solid black;
    height:45vh;
    overflow-y: auto;


}
.pastSessionsDiv > h3, .upcomingSessionsDiv > h3 {
    text-align:center;
    margin-bottom:15px;
    color:darkturquoise;
}

.upcomingEventDiv{
    border: solid 2px black;
    border-radius:20px;
    margin-bottom: 10px;
    padding:5px 10px 5px 10px
}

.sessionDiv{
    border: 1px solid purple;
    border-radius:10px;
    padding:5px;
    margin-bottom:5px;
}

.sessionDiv > p {
    margin-bottom:2px;
}

.bold{
    font-weight:bold;
}