.pageContainer{
    margin-bottom:10px;
}

.calendarCol{
    padding-left: 0px;
}
.mainContainer {
    /* border:2px solid black; */
    padding:2px;
}
.mainContainer > h2{
    text-align:center;
    background-color:lightgray;
    color:purple;
    padding-top:10px;
    padding-bottom:10px;
    margin-top:0px;
}
.calendarContainer{
    height:83vh;
    /* border:2px solid black; */
}

ul{ 
    list-style-type: none; 
}