.buttonBar > .btn {
    padding-left:3%;
    padding-right:3%;
   
}

/* 
.welcome {
    padding-left:15px;
    padding-right:15px;
    width:25%;
    /* border:solid 1px red; 
}

.welcome > p{
    color:white;
    font-size:20px;
    text-align:center;
}
*/
.buttonBar{
    padding: 15px 10px 10px 10px;
    background-color:purple;
    margin-bottom:5px;
} 
.italics{
    font-style:italic;
}